body {
    margin: 0px;
    padding: 0px;
    background-color: #ddaeae;
    outline: none;
}

.App { 
    margin: auto;
    width: 50%;
    padding: 10px;
}
  
.playerContainer {
    height: 60px;
    display: flex;
    padding-top:20px ;
    text-align: justify;
    flex-direction: row;
    justify-content: space-between;
   
}
  
.playerNameBox  {
    border: 2px solid black ;
    border-radius: 10px;
    width:150px; 
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}

.startButton {
    border:none;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 60px;
    outline: none;
    cursor: pointer;
}

.gameDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    margin: 100px auto;
    width: 200px;
    height: 230px;
    border: 2px solid black;
}

.square {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    flex: 33%;
    text-align: center;
    cursor: pointer;
    height: 77px;
    font-weight: bold;
}

td {
    border:1px solid black;
    text-align: center;
} 

.timerDiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto;
}

/* .timerDiv > div {
    flex: 1;
    justify-content: space-between;
} */

.timer {
    border: 2px solid black ;
    border-radius: 50px;
    width:50px; 
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}

.App p {
    text-align: center;
}
